// Colours
$primary-50: rgb(243, 241, 233);
$primary-100: rgb(227, 218, 183);
$primary-200: rgb(113, 100, 49);
$primary-300: rgb(160, 137, 45);

// Typography
$font: 'Cormorant', serif;
$heading: 2rem;
$text-base: 1rem;
$text-lg: 1.5rem;
