// Colours
$primary-50: rgb(243, 241, 233);
$primary-100: rgb(227, 218, 183);
$primary-200: rgb(113, 100, 49);
$primary-300: rgb(160, 137, 45);
$white: #fff;

// Typography
$font: 'Cormorant', serif;
$text-color: #212121;
$text-heading: 3rem;
$text-base: 1rem;
$text-lg: 1.5rem;

//Screen sizes
$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1440px;

//Spacing
$spacing-lg: 2rem;
$spacing-base: 1rem;
$spacing-sm: 0.5rem;